body{
    background-color: lightblue;
}

header{
    text-align: center;
    color: white;
    font-family: futura;
    font-size: 24px;
}
button{
    color: white;
    background-color: lightcoral;
    background-position: top;
    display: block;
    text-align: center;
    margin: 2% auto;
    border-radius: 5px;
    font-size: 16px;
    font-family: fantasy;
    width: 150px;
}

button:hover{
    background-color: indianred;
}

button:active {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

button:disabled{
    background-color: grey;
}

.hide{
    display: none;
}

.game{
    margin: auto;
    background-color: snow;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px darkslategrey;
    max-width: 700px;
    padding: 0.5% 0px;
    text-align: center;
    color: cornflowerblue;
    font-family: futura;
}

.error{
    color: crimson;
}

.success{
    color: limegreen;
}

.player-word{
    text-align: center;
    font-size: 24px;
    font-family: monospace;
    text-transform: uppercase;
}
.player-word:invalid{
    animation: shake 0.5s;
}

.player-input{
    width: 300px;
    height: 150px;
    background-color: lightblue;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3rem;
}

.player-input > h3{
    color: white;
    font-family: futura;
}

.computer-word{
    background-color: lightgray;
    text-align: center;
    color: black;
    font-family: monospace;
    font-size: 24px;
    text-transform: uppercase;
}
.computer-input{
    width: 300px;
    height: 150px;
    background-color: lightblue;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3rem;
}

.computer-input > h3{
    color: white;
    font-family: futura;
}
.guesses{
    max-width: 700px;
    margin: auto;
    text-align: center;
}
.guesses>h4{
    background-color: cornflowerblue;
    margin-bottom: 0px;
    padding: 5%
}
.player-guesses{
    color: white;
    text-align: center;
    font-family: futura;
    width: 340px;
    display: inline-block;
    vertical-align: top;
}

.computer-guesses{
    color: white;
    text-align: center;
    font-family: futura;
    width: 340px;
    display: inline-block;
    vertical-align: top;
}

.previous-guesses{
    border: 1px solid cadetblue;
    margin: auto;
    height: 300px;
    overflow-y: scroll;
}

.reset-button{
    animation: spin-cat-1 2s;
}

.reset-button:active{
    animation: spin-cat-2 2s;
}

@keyframes spin-cat-1 {
    50%{
        transform:rotateY(180deg);
    }
}

@keyframes spin-cat-2 {
    50%{
        transform:rotateY(180deg);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
