body{
    background-color: lightblue;
}
.app {
  text-align: center;
}

header{
    color: snow;
    font-family: futura;
}
.game{
    margin: auto;
    background-color: snow;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px darkslategrey;
    width: 600px;
    padding: 0.5% 0px;
    margin-bottom: 5rem;
}
.game-status{
    color: deepskyblue;
    font-family: fantasy;
}
